.simple_weather_ajax_loader{
    background: transparent url("../images/ajax-loader.gif") center no-repeat;
    height: 40px;
    width: 70px
}
.block .simple_weather_container ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}